Import Raleway font from googlefonts
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  border-style: solid;
}

/* Nice beige/pastel background color */
body {
  background-color: #ffe;
  border-color: red;
  /* width: 200%; */
}

p, h2, nav, ul, ol {
  font-family: Raleway;
  font-size: 24px;
}

/* Increase space between lines of text a little bit */
p {
  line-height: 1.6;
}

a:link    { color: blue;  }
a:visited { color: purple;   }
a:hover   { color: green; }
a:active  { color: orange;  }

nav {
  text-align: right;
  font-size: 30px;
  margin: 50px;
}

section {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Section dividers */
#home, #about, #portfolio, #services {
  border-bottom: 1px dashed #000;
}

li {
  margin: 20px 0px;
}

/* Arrange image and text side by side in home section */
.home-wrapper {
  display: flex;
}

.home-wrapper img {
  max-width: 200px;
  margin-right: 20px;
}

#portfolio ul {
  margin-bottom: 200px;
}

#portfolio img {
  width: 600px;
  margin: 20px;
  border-style: solid;
}

#portfolio span {
  display: block;
}