/* Import Raleway font from googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Nice beige/pastel background color */
body {
  background-color: #ffe;
  /* width: 200%; */
}

h2 {
  font-size: 30px;
}

p, nav, ul, ol {
  font-family: Raleway;
  font-size: 18px;
}

/* Increase space between lines of text a little bit */
p {
  line-height: 1.6;
}

a:link    { color: blue;  }
a:visited { color: purple;   }
a:hover   { color: green; }
a:active  { color: orange;  }

nav {
  text-align: right;
  margin: 50px;
}

section {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Section dividers */
#home, #about, #portfolio, #services {
  border-bottom: 1px dashed #000;
}

li {
  margin: 20px 0px;
}

/* Arrange image and text side by side in home section */
/* .home-wrapper {
  display: flex;
} */

/* .home-wrapper img {
  max-width: 200px;
  margin-right: 20px;
} */

/* .home-wrapper img {
  max-width: 100%;
  margin-right: 20px;
} */

.home-wrapper img {
  display: block;
  margin: auto;
  max-height: 300px;
}

#portfolio ul {
  margin-bottom: 100px;
}

/* #portfolio img {
  width: 600px;
  margin: 20px;
  border-style: solid;
} */

#portfolio img {
  max-width: 80%;
  margin: 20px;
  border-style: solid;
  display: inline-block;
}

#portfolio span {
  display: block;
}

#contact form label {
  display: block;
}

@media all and (min-width: 600px) {  

  main {
    padding: 50px;
  }

    p {
      font-size: 24px;
    }

    nav {
      font-size: 30px;
    }
}